<div hidden #myModal class="container">
    <div class="content">
      <input class="form-control mb-2"
      id="input"
      type="text"
      name="searchByDesc"
      [(ngModel)]="asset"
      placeholder="Search"
      aria-label="Search">
      <div *ngFor="let a of assets">
        <table *ngIf="a.id === asset || a.symbol === asset">
          <tbody>
            <tr (click)="close(a)">
              <td class="td"><img src="{{a.image.thumb}}" alt=""></td>
              <td class="td">{{ a.symbol }}</td>
              <td class="td">{{ a.id }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button (click)="closeModal()">Close</button>
    </div>
</div>
