#chart {
    width: 45%;
    float: right;
    margin-top: -25%;
    margin-right: 5%;
}

button {
    background-color: rgb(3, 3, 238);
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: rgb(3, 3, 238);
    border-radius: 5px;
    transition: 0.5s;
}