<div class="container-fluid" id="parent">
    <button id="back" (click)="backToPortfolioManager()">Go back</button>
    <div id="pie">
        <div>
          <div>
            <div class="chart">
              <canvas baseChart
                      [data]="pieChartData"
                      [type]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
        <div class="button-row">
          <button mat-button mat-raised-button color="primary" (click)="toggleLegend()">Toggle Legend</button>
        </div>
    </div>
    <div id="candle">
        <app-candle-stick [assetName]="assetName"></app-candle-stick>
    </div>
</div>
