#parent {
    width: 100%;
    height: 80vh;
}

#pie {
    display: inline-block;
    width: 35%;
    margin-left: 50px;
}

#chart {
    display: inline-block;
    margin-left: 20%;
    background-color: blue;
}