#head {
    display: flex;
    & div:nth-child(2) {
        margin-left: auto;
        & button {
            background-color: rgb(3, 3, 238);
            color: white;
            border-radius: 5px;
            transition: 0.5s;
        }

        & button:hover {
            background-color: white;
            color: rgb(3, 3, 238);
            border-radius: 5px;
            transition: 0.5s;
        }
    }
}

#balance {
    width: 150px;
    & p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}

#mod {
    width: 30%;
    margin-left: 35%;
}

#mod:nth-child(1) {
    border: 1px solid black;
}

table {
    width: 85%;
    margin-left: auto;
}

tr {
    width: 100%;
}

td {
    width:20%;
}

#add {
    height: 82vh;
}

#add-coin {
    margin-right: 3px;
}

#box h3 a {
    text-decoration: none;
    color: rgb(3, 3, 238);
}

#box h3 a:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: rgb(3, 3, 238);;
    content: "";
    transition: width 0.4s;
}

#box h3 a:hover {
    color: #0d0d0d;
}

#box h3 a:hover:after {
    width: 100%;
}